anyio
asgiref
attrs
black
certifi
channels
click
cloudinary
Django
django-cors-headers
django-countries
django-jazzmin
django-phonenumber-field
django-timezone-field
djangorestframework
djangorestframework-simplejwt
drf-spectacular
flake
h11
httptool
idna
inflection
jsonschema
mccabe
mypy-extensions
packaging
pathspec
phonenumbers
Pillow
platformdirs
psycopg2-binary
pycodestyle
pyflakes
PyJWT
pyrsistent
python-decouple
python-dotenv
pytz
PyYAML
six
sniffio
sqlparse
tomli
typing_extensions
uritemplate
urllib3
uvicorn
uvloop
watchfiles
websockets
gunicorn
